body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

nav {
    background-color: black;
    color: white;
    padding: 15px;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 30px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.button, button {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    border: none;
    margin: 5px 5px 5px 0;
    cursor: pointer;
}

.danger {
    background-color: darkred;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select {
    padding: 10px;
}