{% extends "base.html" %}

{% block content %}

<h2>Pievienot braucēju</h2>

<form method="POST" class="card">
    <label>Vārds:</label>
    <input type="text" name="name" required>

    <label>Vecums:</label>
    <input type="number" name="age" required>

    <label>Komanda:</label>
    <select name="team_id">
        {% for team in teams %}
        <option value="{{ team.id }}">{{ team.name }}</option>
        {% endfor %}
    </select>

    <button type="submit">Saglabāt</button>
</form>

{% endblock %}