{% extends "base.html" %}

{% block content %}

<div class="hero">
    <div class="hero-text">
        <h2>BMX Race System</h2>

        <p>
            Mājaslapa BMX sacensību pārvaldībai.
            Šeit iespējams apskatīt braucējus,
            sacensības un rezultātus.
        </p>

        <a class="button" href="/riders">Apskatīt braucējus</a>
    </div>

    <img src="{{ url_for('static', filename='images/bmx.jpg') }}">
</div>

<div class="stats">
    <div class="card stat-card">
        <h3>2</h3>
        <p>Komandas</p>
    </div>

    <div class="card stat-card">
        <h3>2</h3>
        <p>Sacensības</p>
    </div>

    <div class="card stat-card">
        <h3>2</h3>
        <p>Braucēji</p>
    </div>
</div>

{% endblock %}